//
// Imports
//
@import "config";

/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    background: #f1c40f;
    color: #000000;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;

    a {
        color: inherit;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #f5f5f5;
}

a {
    color: $primaryColor;
}

h1, h2 {
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

h2 {
    font-weight: normal;
}

h3 {
    margin-top: 3em;
}

header {
    background: $primaryColor;
    padding: 4em 0;
}

.header-button {
    background: $secondairyColor;
    border-radius: 0.3em;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    width: 10em;
}

.header-button:first-child {
    margin-bottom: 2em;
}

pre {
    background: #fff;
    border-radius: 0.3em;
    font-size: 0.8em;
    padding: 1em 2em;
}

section {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}

footer {
    background: $secondairyColor;
    color: #f1f1f1;
    padding: 2em 0;
}

footer a {
    color: #f1f1f1;
}

.demo .content {
    background: $primaryColor;
    border-radius: 0.3em;
    color: #000;
    line-height: 3em;
    min-height: 3em;
    text-align: center;
}

.demo .content > .grid > .row .content {
    color: #fff;
    background: darken($primaryColor, 20%);
    opacity: 1;
    border: 0;
}

.demo-column-height .content {
    line-height: 1.5em;
    padding: 1em;
    text-align: left;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
