
//
// Imports
//
@import "config";
@import "viewport";



/*
 * Generic grid styles
 */
.grid {
    margin: 0 auto;
    max-width: $grid-maxwidth;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0  -#{$gutter/2} $gutter -#{$gutter/2};
}

.row > div {
    box-sizing: border-box;
    margin: 0 $gutter/2 0 $gutter/2;
    width: 100%;
}

/*
 * Default view
 */
@include viewport(default);



/*
 * Small viewport (mobile)
 */
@include viewport(small);



/*
 * Medium viewport (tablets)
 */
@media (min-width: 768px) {

    @include viewport(medium);

}



/*
 * Large viewport (desktop)
 */
@media (min-width: 960px) {

    @include viewport(large);

}
