//
// Imports
//
@import "config";
@import "viewport";



/*
 * Generic grid styles
 */
.grid {
    margin: 0 auto;
    max-width: $grid-maxwidth;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0  -#{$gutter/2} 0 -#{$gutter/2};
}

.row > * {
    box-sizing: border-box;
    padding: 0 $gutter/2 $gutter;
    flex-basis: 100%;
}

.row:last-child {
    margin-bottom: -#{$gutter};
}

.col {
    flex: 1 0 auto;
}


/*
 * Default view
 */
@include viewport(default);



/*
 * Small viewport (mobile)
 */
@media (max-width: 767px) {
 
    @include viewport(small);

}

/*
 * Medium viewport (tablets)
 */
@media (min-width: 768px) and (max-width: 959px) {

    @include viewport(medium);

}



/*
 * Large viewport (desktop)
 */
@media (min-width: 960px) {

    @include viewport(large);

}
