
//
// Imports
//
@import "config";
@import "viewport";



/*
 * Generic grid styles
 */
.grid {
    margin: 0 auto;
    padding: 0 $gutter;
    max-width: $grid-maxwidth;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$gutter} $gutter -#{$gutter};
}

.row > div {
    box-sizing: border-box;
    padding: $gutter;
    width: 100%;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 800px;
    height: 100vw;
}

.column > div {
    box-sizing: border-box;
    padding: $gutter;
    flex-basis: 1;
}


/*
 * Default view
 */
@include viewport(default);



/*
 * Small viewport (mobile)
 */
@include viewport(small);



/*
 * Medium viewport (tablets)
 */
@media (min-width: 768px) {

    @include viewport(medium);

}



/*
 * Large viewport (desktop)
 */
@media (min-width: 960px) {

    @include viewport(large);

}
