//
// Imports
//
@import "config";

/*
 * Styles for demo page
 */
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

[class*="col"] {
    background: #ABB7B7;
    color: #222222;
    min-height: 3em;
    text-align: center;
    line-height: 3em;
}


