/*
 * The Flex Grid (v1.5.1) is a lightweight responsive CSS grid using flexbox. Because we can!
 * http://jeroenoomsnl.github.io/the-flex-grid/
 */

//
// Config
//
$theflexgrid-gutter: 1em !default;
$theflexgrid-maxwidth: 960px !default;
$theflexgrid-silent-only: false !default;

// breakpoints
$theflexgrid-breakpoint-small: "(max-width: 767px)" !default;
$theflexgrid-breakpoint-medium: "(min-width: 768px) and (max-width: 959px)" !default;
$theflexgrid-breakpoint-large: "(min-width: 960px)" !default;

//
// Viewport mixin
//
@mixin viewport($viewport) {

    @if $viewport != default {
        $viewport: -#{$viewport};
    }

    @if $viewport == default {
        $viewport: '';
    }

    .col#{$viewport}-1 {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%;
    }
    .col#{$viewport}-2 {
        flex-basis: 16.666666666%;
        max-width: 16.666666666%;
    }
    .col#{$viewport}-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col#{$viewport}-4 {
        flex-basis: 33.333333333%;
        max-width: 33.333333333%;
    }
    .col#{$viewport}-5 {
        flex-basis: 41.666666666%;
        max-width: 41.666666666%;
    }
    .col#{$viewport}-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col#{$viewport}-7 {
        flex-basis: 58.333333333%;
        max-width: 58.333333333%;
    }
    .col#{$viewport}-8 {
        flex-basis: 66.666666666%;
        max-width: 66.666666666%;
    }
    .col#{$viewport}-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col#{$viewport}-10 {
        flex-basis: 83.333333333%;
        max-width: 83.333333333%;
    }
    .col#{$viewport}-11 {
        flex-basis: 91.666666666%;
        max-width: 91.666666666%;
    }
    .col#{$viewport}-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col#{$viewport}-top {
        align-self: flex-start;
    }

    .col#{$viewport}-bottom {
        align-self: flex-end;
    }

    .col#{$viewport}-middle {
        align-self: center;
    }

    .row#{$viewport}-left {
        justify-content: flex-start;
    }
    .row#{$viewport}-right {
        justify-content: flex-end;
    }
    .row#{$viewport}-center {
        justify-content: center;
    }
    .row#{$viewport}-space-between {
        justify-content: space-between;
    }
    .row#{$viewport}-space-around {
        justify-content: space-around;
    }

    .row#{$viewport}-reverse {
        flex-direction: row-reverse;
    }

    .row#{$viewport}-equal > * {
        display: flex;

        & > * {
            width: 100%;
        }
    }

    .row#{$viewport}-top {
        align-items: flex-start;
    }
    .row#{$viewport}-middle {
        align-items: center;
    }
    .row#{$viewport}-bottom {
        align-items: flex-end;
    }

    .hide#{$viewport} {
        display: none;
    }
}

/* Generic grid styles */
%grid {
    margin: 0 auto;
    overflow: hidden;
}

%row {
    display: flex;
    flex-wrap: wrap;
    margin: 0  -#{$theflexgrid-gutter/2} 0 -#{$theflexgrid-gutter/2};

    & > * {
        box-sizing: border-box;
        padding: 0 $theflexgrid-gutter/2 $theflexgrid-gutter;
        flex-basis: 100%;
    }

    &:last-child {
        margin-bottom: -#{$theflexgrid-gutter};
    }
}

%gutterless {
    & > .row {
        margin: 0;

        & > * {
            padding: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

%col {
    flex: 1 0 auto;
}

@if $theflexgrid-silent-only == false {
    .grid {
        @extend %grid;
    }

    .gutterless {
        @extend %gutterless;
    }

    .row {
        @extend %row;
    }

    .col {
        @extend %col;
    }

    /* Default view */
    @include viewport(default);

    /* Small viewport (mobile) */
    @media #{$theflexgrid-breakpoint-small} {
        @include viewport(small);
    }

    /* Medium viewport (tablets) */
    @media #{$theflexgrid-breakpoint-medium} {
        @include viewport(medium);
    }

    /* Large viewport (desktop) */
    @media #{$theflexgrid-breakpoint-large} {
        @include viewport(large);
    }
}
