/*
 * Styles for demo page
 */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

[class*="col"] {
  background: #bdc3c7;
  border: 1px solid #95a5a6;
  border-radius: 5px;
  color: #34495e;
  line-height: 3em;
  min-height: 3em;
  text-align: center;
}

[class*="col"] > .grid > .row > [class*="col"] {
  background: #ecf0f1;
  border: 0;
}
