/*
 * Styles for demo page
 */
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

[class*="col-"] {
  background: #ABB7B7;
  border: 1em solid #f2f2f2;
  color: #222222;
  min-height: 3em;
  text-align: center;
}
