/*
 * Initialize.css is a complete and customizable collection of CSS best practices based on Normalize.css and HTML5 Boilerplate.
 * http://jeroenoomsnl.github.io/initialize-css
 *
 * HTML5 Boilerplate: https://github.com/h5bp/html5-boilerplate
 * Normalize.css: http://github.com/necolas/normalize.css
 */
html {
  color: #222;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: inherit;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: inherit;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: inherit;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
  margin: 1em 0 0.75em;
  font-family: "Lato", sans-serif;
}

p, table, ul, ol, fieldset, blockquote, dl {
  margin: 0 0 0.75em;
}

.header-wrapper, .main, .footer-wrapper {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

body {
  background: #f5f5f5;
}

a {
  color: #3bafda;
}

code, pre {
  background: white;
  border-radius: 0.3em;
  margin-bottom: 1em;
  padding: 1em 2em;
}

code {
  display: inline-block;
  margin: 1em 0;
  padding: 0.75em 1.5em;
}

.browserupgrade {
  background: #f1c40f;
  color: #000000;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}
.browserupgrade a {
  color: inherit;
}

.header {
  background: #3bafda;
  padding: 2em 0;
}
@media (min-width: 768px) {
  .header {
    padding: 4em 0;
  }
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header-wrapper {
    flex-wrap: wrap;
  }
}
.header h1, .header h2 {
  color: #f1f1f1;
}
.header h1 {
  font-size: 2em;
  margin-top: 0;
}
@media (min-width: 768px) {
  .header h1 {
    font-size: 3em;
  }
}
.header h2 {
  font-weight: normal;
}
@media (max-width: 767px) {
  .header h2 {
    font-size: 1.3em;
  }
}
.header .header-content {
  padding-right: 4em;
}
@media (max-width: 767px) {
  .header .header-content {
    margin-bottom: 2em;
  }
}
.header .header-buttons .header-button {
  background: #2c3e50;
  border-radius: 0.3em;
  color: white;
  display: block;
  text-decoration: none;
  padding: 1em;
  text-align: center;
  width: 10em;
}
.header .header-buttons .header-button:hover {
  background: #1a252f;
}
.header .header-buttons .header-button:first-child {
  margin-bottom: 2em;
}

.main {
  padding-top: 1em;
}
.main .intro {
  font-size: 1.2em;
  margin-bottom: 2em;
}
@media (min-width: 960px) {
  .main .intro {
    max-width: 80%;
  }
}

.footer {
  background: #2c3e50;
  color: #f1f1f1;
  margin-top: 2em;
  padding: 2em 0;
}
.footer a {
  color: #f1f1f1;
}

.demo .content {
  background: #3bafda;
  border-radius: 0.3em;
  color: #000;
  line-height: 3em;
  min-height: 3em;
  text-align: center;
}
.demo .content.orange {
  background: orange;
}
.demo .content.green {
  background: green;
}

.demo .content > .grid > .row .content {
  color: #fff;
  background: #1c7393;
  opacity: 1;
  border: 0;
}

.demo-column-height .content {
  line-height: 1.5em;
  padding: 1em;
  text-align: left;
}
