/*
 * Generic grid styles
 */
.grid {
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -0.5em 0 -0.5em;
}

.row > * {
  box-sizing: border-box;
  padding: 0 0.5em 1em;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.row:last-child {
  margin-bottom: -1em;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/*
 * Default view
 */
div.col-1 {
  -webkit-flex-basis: 8.3333333333%;
      -ms-flex-preferred-size: 8.3333333333%;
          flex-basis: 8.3333333333%;
}

div.col-2 {
  -webkit-flex-basis: 16.666666666%;
      -ms-flex-preferred-size: 16.666666666%;
          flex-basis: 16.666666666%;
}

div.col-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}

div.col-4 {
  -webkit-flex-basis: 33.333333333%;
      -ms-flex-preferred-size: 33.333333333%;
          flex-basis: 33.333333333%;
}

div.col-5 {
  -webkit-flex-basis: 41.666666666%;
      -ms-flex-preferred-size: 41.666666666%;
          flex-basis: 41.666666666%;
}

div.col-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

div.col-7 {
  -webkit-flex-basis: 58.333333333%;
      -ms-flex-preferred-size: 58.333333333%;
          flex-basis: 58.333333333%;
}

div.col-8 {
  -webkit-flex-basis: 66.666666666%;
      -ms-flex-preferred-size: 66.666666666%;
          flex-basis: 66.666666666%;
}

div.col-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
}

div.col-10 {
  -webkit-flex-basis: 83.333333333%;
      -ms-flex-preferred-size: 83.333333333%;
          flex-basis: 83.333333333%;
}

div.col-11 {
  -webkit-flex-basis: 91.666666666%;
      -ms-flex-preferred-size: 91.666666666%;
          flex-basis: 91.666666666%;
}

div.col-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.row-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.row-equal > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*
 * Small viewport (mobile)
 */
div.col-small-1 {
  -webkit-flex-basis: 8.3333333333%;
      -ms-flex-preferred-size: 8.3333333333%;
          flex-basis: 8.3333333333%;
}

div.col-small-2 {
  -webkit-flex-basis: 16.666666666%;
      -ms-flex-preferred-size: 16.666666666%;
          flex-basis: 16.666666666%;
}

div.col-small-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}

div.col-small-4 {
  -webkit-flex-basis: 33.333333333%;
      -ms-flex-preferred-size: 33.333333333%;
          flex-basis: 33.333333333%;
}

div.col-small-5 {
  -webkit-flex-basis: 41.666666666%;
      -ms-flex-preferred-size: 41.666666666%;
          flex-basis: 41.666666666%;
}

div.col-small-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

div.col-small-7 {
  -webkit-flex-basis: 58.333333333%;
      -ms-flex-preferred-size: 58.333333333%;
          flex-basis: 58.333333333%;
}

div.col-small-8 {
  -webkit-flex-basis: 66.666666666%;
      -ms-flex-preferred-size: 66.666666666%;
          flex-basis: 66.666666666%;
}

div.col-small-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
}

div.col-small-10 {
  -webkit-flex-basis: 83.333333333%;
      -ms-flex-preferred-size: 83.333333333%;
          flex-basis: 83.333333333%;
}

div.col-small-11 {
  -webkit-flex-basis: 91.666666666%;
      -ms-flex-preferred-size: 91.666666666%;
          flex-basis: 91.666666666%;
}

div.col-small-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.row-small-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row-small-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row-small-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-small-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-small-space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.row-small-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.row-small-equal > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-small-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-small-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-small-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*
 * Medium viewport (tablets)
 */
@media (min-width: 768px) {
  div.col-medium-1 {
    -webkit-flex-basis: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
            flex-basis: 8.3333333333%;
  }

  div.col-medium-2 {
    -webkit-flex-basis: 16.666666666%;
        -ms-flex-preferred-size: 16.666666666%;
            flex-basis: 16.666666666%;
  }

  div.col-medium-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }

  div.col-medium-4 {
    -webkit-flex-basis: 33.333333333%;
        -ms-flex-preferred-size: 33.333333333%;
            flex-basis: 33.333333333%;
  }

  div.col-medium-5 {
    -webkit-flex-basis: 41.666666666%;
        -ms-flex-preferred-size: 41.666666666%;
            flex-basis: 41.666666666%;
  }

  div.col-medium-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }

  div.col-medium-7 {
    -webkit-flex-basis: 58.333333333%;
        -ms-flex-preferred-size: 58.333333333%;
            flex-basis: 58.333333333%;
  }

  div.col-medium-8 {
    -webkit-flex-basis: 66.666666666%;
        -ms-flex-preferred-size: 66.666666666%;
            flex-basis: 66.666666666%;
  }

  div.col-medium-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
  }

  div.col-medium-10 {
    -webkit-flex-basis: 83.333333333%;
        -ms-flex-preferred-size: 83.333333333%;
            flex-basis: 83.333333333%;
  }

  div.col-medium-11 {
    -webkit-flex-basis: 91.666666666%;
        -ms-flex-preferred-size: 91.666666666%;
            flex-basis: 91.666666666%;
  }

  div.col-medium-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }

  .row-medium-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .row-medium-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .row-medium-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .row-medium-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .row-medium-space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }

  .row-medium-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .row-medium-equal > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .row-medium-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .row-medium-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .row-medium-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*
 * Large viewport (desktop)
 */
@media (min-width: 960px) {
  div.col-large-1 {
    -webkit-flex-basis: 8.3333333333%;
        -ms-flex-preferred-size: 8.3333333333%;
            flex-basis: 8.3333333333%;
  }

  div.col-large-2 {
    -webkit-flex-basis: 16.666666666%;
        -ms-flex-preferred-size: 16.666666666%;
            flex-basis: 16.666666666%;
  }

  div.col-large-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }

  div.col-large-4 {
    -webkit-flex-basis: 33.333333333%;
        -ms-flex-preferred-size: 33.333333333%;
            flex-basis: 33.333333333%;
  }

  div.col-large-5 {
    -webkit-flex-basis: 41.666666666%;
        -ms-flex-preferred-size: 41.666666666%;
            flex-basis: 41.666666666%;
  }

  div.col-large-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }

  div.col-large-7 {
    -webkit-flex-basis: 58.333333333%;
        -ms-flex-preferred-size: 58.333333333%;
            flex-basis: 58.333333333%;
  }

  div.col-large-8 {
    -webkit-flex-basis: 66.666666666%;
        -ms-flex-preferred-size: 66.666666666%;
            flex-basis: 66.666666666%;
  }

  div.col-large-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
  }

  div.col-large-10 {
    -webkit-flex-basis: 83.333333333%;
        -ms-flex-preferred-size: 83.333333333%;
            flex-basis: 83.333333333%;
  }

  div.col-large-11 {
    -webkit-flex-basis: 91.666666666%;
        -ms-flex-preferred-size: 91.666666666%;
            flex-basis: 91.666666666%;
  }

  div.col-large-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }

  .row-large-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .row-large-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .row-large-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .row-large-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .row-large-space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }

  .row-large-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .row-large-equal > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .row-large-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .row-large-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .row-large-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
